<div class="contenido-footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="title">
                    <h4>Contacto:</h4>
                </div>
                <div class="info">
                    <p><strong>Llamada: </strong>+5354803162</p><br>
                    <p><strong>Correo: </strong>centrosoporte@uci.cu</p>
                </div>
            </div>
            <div class="col-3">
                <div class="title">
                    <h4>Síguenos:</h4>
                </div>
                <div class="info">
                    <p><strong>Llamada: </strong>+5354803162</p><br>
                    <p><strong>Correo: </strong>centrosoporte@uci.cu</p>
                </div>
            </div>
            <div class="col-3">
                <div class="title">
                    <h4>Sitios Relacionados:</h4>
                </div>
                <div class="info">
                    <p><strong>Llamada: </strong>+5354803162</p><br>
                    <p><strong>Correo: </strong>centrosoporte@uci.cu</p>
                </div>
            </div>
            <div class="col-3">
                <div class="title">
                    <h4>Nosotros:</h4>
                </div>
                <div class="info">
                    <p><strong>Llamada: </strong>+5354803162</p><br>
                    <p><strong>Correo: </strong>centrosoporte@uci.cu</p>
                </div>
            </div>
        </div>
    </div>
</div>