
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Incidencias</title>
</head>
<body>
    <center>
    <img src="{{ imagen1 }}" alt="" style="width: 100px; height: 100px;">
    </center>
    <p style="font-weight: 700; font-size: 36px; font-family: 'Times New Roman', Times, serif;">{{ titulo }}</p>
    <p style="font-weight: 700; font-size: 28px; font-family: 'Times New Roman', Times, serif;">Reporte General</p>
    <center>
    <p style="font-weight: 700; font-size: 20px; font-family: 'Times New Roman', Times, serif;">Listado de incidencias actuales</p>
    </center>
    <hr>
    <table class="tabla-reporte">
        <thead>
            <tr>
                <th style="width: 20%;">Titulo</th>
                <th style="width: 20%;">Estado</th>
                <th style="width: 20%;">Cliente</th>
                <th style="width: 20%;">Prioridad</th>
                <th style="width: 20%;">Fecha de Creación</th>
            </tr>
        </thead>
        <tbody>
            {% for incidencia in incidencias %}
                <tr style="border: 1px solid black;">
                    <td style="text-align: center; width: 20%; padding-top: 3px;"><strong>{{ incidencia.titulo }}</strong></td>
                    {% if incidencia.ObtenerEstado == 'Cerrada' %}
                        <td style="text-align: center; width: 20%; color: rgb(63, 190, 63); padding-top: 3px;"><strong>{{ incidencia.ObtenerEstado }}</strong></td>
                    {% elif incidencia.ObtenerEstado == 'En Espera'%}
                        <td style="text-align: center; width: 20%; color: blue; padding-top: 3px;"><strong>{{ incidencia.ObtenerEstado }}</strong></td>
                    {% else %}
                        <td style="text-align: center; width: 20%; padding-top: 3px;"><strong>{{ incidencia.ObtenerEstado }}</strong></td>
                    {% endif %}
                    <td style="text-align: center; width: 20%; padding-top: 3px;"><strong>{{ incidencia.cliente }}</strong></td>
                    {% if incidencia.ObtenerPrioridad == 'Baja' %}
                        <td style="color: rgb(63, 190, 63); text-align: center; width: 25%; padding-top: 3px;"><strong>{{ incidencia.ObtenerPrioridad }}</strong></td>
                    {% elif incidencia.ObtenerPrioridad == 'Media'%}
                        <td style="color: blue; text-align: center; width: 20%; padding-top: 3px;"><strong>{{ incidencia.ObtenerPrioridad }}</strong></td>
                    {% else %}
                        <td style="color: red; text-align: center; width: 20%; padding-top: 3px;"><strong>{{ incidencia.ObtenerPrioridad }}</strong></td>
                    {% endif %}
                    <td style="text-align: center; width: 20%; padding-top: 3px;"><strong>{{ incidencia.fecha_creado }}</strong></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <hr>

    

</body>
</html>